

<% if flash.has_key?(:message) %>
    <div class="alert alert-success" role="alert">
        <%=flash[:message]%>
    </div>
<% end %>

    
    <br><br>
    
    
        <a href="/staffs/patients/new" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">REGISTER NEW PATIENT</a>
   
        <a href="/staffs/patients/search" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">SEARCH FOR A PATIENT</a>
    
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Comments</a>
    


