

<% if logged_in? && current_user.staff_id%>
    
    <% if !@comments.empty? %>
        <% @comments.order(:created_at).each do |comment| %>
            <textarea rows="3" cols="20" placeholder="<%=comment.content%>"></textarea>
            <p>Posted: <%=comment.created_at%></p>
            <br>
        <% end %>
    <% end %>

<% end %> 