<% if logged_in? %>
    <% if flash.has_key?(:message) %>
        <div class="alert alert-danger" role="alert">
            <%=flash[:message]%>
        </div>
    <% end %>
    <h1> SEARCH A PATIENT </h1>

    <form action="/staffs/patients/search" method="POST">
        <div class="form-group">
            <label for="name"> Name: </label>
            <input type="text" class="form-control" name="patient[name]" id="name" placeholder="Enter patientf full name">
            </div>
        <div class="form-group">
            <label for="dob"> DOB: </label>
            <input type="date" class="form-control" name="patient[dob]" id="dob" placeholder="YYYY/MM/DD">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <a href=""> Comments </a>
<% end %>


