<br><br>
<% if flash.has_key?(:message) %>
    <div class="alert alert-success" role="alert">
        <%=flash[:message]%>
    </div>
<% end %>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
    labore et dolore magna aliqua. Mauris cursus mattis molestie a iaculis. Vel facilisis volutpat 
    est velit egestas dui id ornare arcu. Pellentesque habitant morbi tristique senectus et. Elementum 
    nisi quis eleifend quam adipiscing vitae. In mollis nunc sed id semper risus in. Aliquam etiam erat 
    velit scelerisque. Tristique risus nec feugiat in fermentum posuere urna nec. Quam quisque id diam 
    vel quam. Magnis dis parturient montes nascetur ridiculus. Aenean et tortor at risus viverra adipiscing 
    at. Urna porttitor rhoncus dolor purus non enim. Augue eget arcu dictum varius duis at consectetur lorem. 
    Mauris a diam maecenas sed enim ut. Mauris pellentesque pulvinar pellentesque habitant morbi tristique 
    senectus et netus. In hac habitasse platea dictumst quisque sagittis. Ipsum faucibus vitae aliquet nec 
    ullamcorper sit amet. Ornare arcu odio ut sem.
</p>



